<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Folder Explorer - Tree View</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="folder-tree-wrapper">
  <ul class="folder-tree">
					<li><i class="fa fa-folder"></i> socket data
						<div class="arrow"><i class="fa fa-angle-down"></i></div>

           {% for file_name in data %}
								<ul>

									<div class="fa fa-folder"><a href="/chart?q={{file_name}}">{{ file_name }}</a></div>

								</ul>

  {% endfor %}

					</li>
				</ul>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><
       <script type="text/javascript" src="{{ url_for('static', filename='/script.js') }}" charset="utf-8"></script>

</body>
</html>
