<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>File</title>
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='/style.css') }}">


</head>
<body>
<!-- partial:index.partial.html -->
<h2>File List</h2>

<div class="box">
  <ul class="directory-list">
  {% for file_name in data %}
    <tr>
      <li><a href="/chart?q={{file_name}}">{{ file_name }}</a></li>
    </tr>
  {% endfor %}

  </ul>
</div>
<!-- partial -->
  
</body>
</html>
