<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='/chart_style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<figure class="highcharts-figure">
  <div id="container"></div>
  <div><title id = "title">{{ data }}</title></div>

</figure>
<!-- partial -->
  <script  type="text/javascript">
var title = document.getElementById("title");
 var chart =   Highcharts.chart('container', {

  title: {
    text: title.innerHTML
  },
subtitle: {
    text: title.innerHTML
},


  yAxis: {
    title: {
      text: 'nine spindle data'
    }
  },

  xAxis: {
    accessibility: {
      rangeDescription: 'g'
    }
  },

  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
  },
  series: []


});

$.get(`http://127.0.0.1:9000/data?q=${title.innerHTML}`).done(function (data) {
    result = []
    legend = []
    for (const [key, value] of Object.entries(data)) {

        let numberArray = value.map(Number)

    if (key == 'x'){
        console.log("set the xaxis")
            var xax = value
        }else {
 console.log(key, numberArray);
            result.push({
                name: key,
                data: numberArray
            })




        }
        }
  console.log("x",legend)

  Highcharts.chart('container', {
                                  series:result,
                                    xAxis: {
                                  categories: xax
                                },chart: {
			type: 'line',
			zoomType: 'x'
		},
      title:title.innerText
                              }
                              )




});

  </script>

</body>
</html>
