<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Folders</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>

  <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<br>
<div class="container">

  <div class="card card-folders">
    <div class="card-header">
      <div class="row align-items-center">
          <div class="col mr-auto">
            <h4 class="card-title m-0">User Folders</h4>
          </div>
          <div class="col col-auto pr-2">
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-secondary" id="btn-list"><i class="fa fa-th-list fa-lg"></i></button>
              <button class="btn btn-sm btn-outline-secondary outline-none active" id="btn-grid"><i class="fa fa-th-large fa-lg"></i></button>
            </div>
          </div>
        </div>
    </div>
    <!-- Folders Container -->
    <div class="card-body" id="foldersGroup">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><i class="far fa-folder"></i>&nbsp; Folders</li>
      </ol>
      <div id="main-folders" class="d-flex align-items-stretch flex-wrap">
          <div class="d-inline-flex">
            <button class="folder-container">
              <div class="folder-icon">
                <i class="fa fa-folder folder-icon-color"></i>
              </div>
              <div class="folder-name">socket_data</div>
            </button>
          </div>
        </div>
    </div>
    <!-- End Folders Container -->
    <!-- Files Container -->
    <div class="card-body d-none" id="filesGroup">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" id="backToFolders"><i class="far fa-folder"></i>&nbsp; Folders</a></li>
        <li class="breadcrumb-item active">socket_data</li>
      </ol>
      <div id="main-files" class="d-flex align-items-stretch flex-wrap">

           {% for file_name in data %}
            <tr>
              <div class="d-inline-flex">
            <button class="folder-container">
              <div class="folder-icon">
                <a href="/chart?q={{file_name}}"><i class="fa fa-file file-icon-color"></i></a>
              </div>
              <div class="folder-name"><a href="/chart?q={{file_name}}">{{ file_name }}</a></div>
            </button>
          </div>
            </tr>
          {% endfor %}


        </div>
    </div>
    <!-- End Files Container -->
  </div>

</div>
<br>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>

       <script type="text/javascript" src="{{ url_for('static', filename='/script.js') }}" charset="utf-8"></script>

</body>
</html>
